body {
    font-family: "Roboto", "Open Sans", "Poppins";
    margin: 0;
    padding: 0;
}


/*Header, hamburguer button, title*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    color: black;
    padding: 1rem;
    position: relative;
    font-family: "Roboto";
}

.hamburger {
    background: none;
    border: none;
    color: black;
    font-size: 2rem;
    cursor: pointer;
}


/*Nav bar and links*/
.navLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: darkgreen;
    width: 100%;
}

.navLinks a:hover {background-color: white;}
.navLinks.open {display: flex;}

.navLinks li {margin: 0.5rem 0;}

.navLinks a {
	display: block;
    text-align: center;
    padding: 0.5rem 1rem;
	color: black;
    text-decoration: none;
    font-weight: 700;
}

/*main, h3, figure img, figcaption*/
main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center; 
}

.images {display: grid; grid-template-columns: 1fr; gap: 1rem;}

figure {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1.title {font-size: 1.5rem; padding: 15px;}

figure img {width: 100%; height: auto;}

figcaption {
    color: black;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-family: "Poppins";
    font-style: italic;
    font-size: 0.8rem;
}


/*Footer*/
footer {
    background-color: pink;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 10px;
}
#lastModified {color: black; font-style: italic; font-weight: 700;}

@media only screen and (max-width: 600px) {
    .navLinks a {font-size: 1.2rem;}
  
    .navLinks li:last-child {padding-bottom: 1.3rem; }
  }

  @media (max-width: 800px) and (max-width: 1024px){
    .navLinks a {font-size: 1.2rem;}
  }

  @media (max-width: 800px) and (max-width: 1024px){
    figcaption {font-size: 1.3rem;}
  }

  @media (max-width: 600px) {
    header {align-items: flex-start; padding: 10px;}

    h1.title {font-size: 1.5rem;}
}