* {margin: 0; padding: 0; box-sizing: border-box;}

body {font-family: "Roboto", "Open Sans", "Poppins";}


/*Header and h1*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 1rem;
}

h1 {color: black; padding: 1rem; display: block;}

header #menu.open ~ h1 {
    display: none;
}


/*Nav, ul, li and a*/
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
}

#menu::before {content: "≡";}

#menu.open::before {content: "x";}

/*nav {background-color: red;}*/

.nav-bar {display: none; list-style: none; margin: 0; max-width: 760px;}

.nav-bar.show {display: block;}

.nav-bar li {display: none;}

.nav-bar a {
    display: block;
    padding: 15px;
    text-align: right;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.nav-bar a:hover, .nav-bar a:active {color: purple; background-color: black;}

.show li {display: block;}


/*main, h3, */
main {}

h3 {padding: 30px; text-align: center; font-size: 1.5rem;}

img {max-width: 100%; width: 20%;}

figcaption {
    text-align: center; 
    font-size: 14px; 
    margin-top: 10px; 
    color: #666; 
}


/*Footer*/
footer {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}