* {padding: 0; margin: 0; box-sizing: border-box;}

:root {
    --body-background-color: yellow;
    --header-footer-color: green;
    --text-color: blue;
    --main-font: 'Roboto';
}

body {background-color: var(--body-background-color);}


/*Header*/
header {
    background-color: var(--header-footer-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
}

.text-data .text-weather {padding: 15px; border: 2px solid var(--text-color);}


h1 {font-family: "Roboto"; font-size: 3rem; padding: 1rem;}


/*Main and sections*/
.img-container {
    position: relative; /* Posicionamento relativo para que as caixas fiquem posicionadas dentro deste container */
    width: 100vw; /* Largura total da viewport */
    height: 100vh; /* Altura total da viewport */
}

img {width: 100%; height: auto;}

section {
    background-color: white; 
    display: grid; 
    grid-template-columns: auto 4em auto;
    grid-template-rows: auto;
    padding: 1em;
}

h2 {font-family: var(--main-font); grid-column: 1/4;}

ul {
    display: flex; /* Usa flexbox para alinhar os itens em linha */
    flex-direction: column;
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 7px;
    line-height: 1em;
    list-style-type: none;
}

li {text-align: center; margin: 0.3rem;}

.bold {font-weight: bold;}

#data h2, #weather h2 {
    border: 2px solid blue;
    padding: 0.5em 1em;
    display: inline-block;
}

/* Estilizando as caixas ao lado das seções */
.text-data, .text-weather {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 300px;
    height: 300px;
}

.text-data {
    background-color: white;
    padding: 1rem 1rem;
    border: 2px solid var(--text-color);

}

.text-weather {
    background-color: white;
    padding: 1rem;
    border: 2px solid var(--text-color);
    margin-left: 20px; 
}

.icon {
    display: block; 
    margin 0; 
    width: 60%;
}


/*Footer*/
footer { 
    background-color: var(--header-footer-color);
    font-family: var(--main-font);
    color: black;
    text-align: center;
    font-size: 1rem;
    padding: 3rem;
}

#lastModified {color: blue;}