@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

body {background-color: white; color: black; font-family: "Roboto";}

/*Header and Nav*/
/*Nav content needs to be in display: flex*/
header {text-align: center; background-color: #4a184a; color: white;}

h1 {display: block; padding: 20px;}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #d06aff;
    font-family: "Roboto";
     
}

nav a {
    display: block;
    padding: 10px 30px;
    color: black;
    font-weight:bolder ;
    text-decoration: none;
    letter-spacing: 1.5px;
}

nav a:hover {background-color: #ff81ff; color: white;}

/*Main and sections*/
/*main content needs to be in grid*/
main {
    display: grid;
    width: 100%;
    max-width: 1220px;
    margin: 22px;
    grid-template-columns: 2fr 1fr auto;
    gap: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {border: 1px solid gray; border-radius: 8px;}

.card h2 {
    background-color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px 10px;
    text-align: center;
    color: white;
}

.card .aboutMe {padding: 15px;}

.card .aboutMe div {display: flex; gap: 2rem; align-items: center;}

.myPhoto {border: 1px solid gray;}

.city {
    height: 1px;
    width: 80%;
    border-top: 1px solid gray;
    margin: 0 auto;
    margin-bottom: 20px;
}

figcaption {
    color: white;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.brazilFlag {border: 1px solid gray;}

h3 {text-align: center; margin-top: 2rem;}

.card:first-child {grid-column: 1/3;}

.card:last-child .resources {display: grid; justify-content: center; padding: 20px;}

.card .resources ul a {color: black; text-decoration: none;}

/*Footer*/
footer {
    background-color: #4a184a;
    text-align: center;
    padding: 1rem;
    color: white;
}

#lastModified {color: yellow; font-style: italic; font-size: 13px;}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 960px) {
        main {
            grid-template-columns: 1fr; /*Changes to a single column*/
        }
    }
    
    @media (max-width: 600px) {
        main {
            grid-template-columns: 1fr; /*Changes to a single column on smaller screens like celphones*/
            margin: 10px; /*Reduces the margin around the main content*/
        }
    
        .card {
            margin-bottom: 20px; /*Spacing between the cards/sections*/
        }
    
        .card .resources {
            grid-template-columns: 1fr; /*Changes to a single column the resources card/section*/
            padding: 10px; /*Reduces padding in the resources card/section */
        }
    
        nav a {
            padding: 10px 20px; /*Reduces padding of navigation links*/
        }
    }
}